---
layout: default
title: 360Now Support - Learn how to use this leading technology.
meta_description: Looking for more information on how to use 360Now? Want to learn more about the benefits of this technology? We’re here to help you grow and succeed. 
noindex: true
eleventyExcludeFromCollections: true {# makes sure it won't show up in sitemap.xml #}
---

{% block content %}
  
  {% set hero_title = "360Now Support" %}
  {% include "_includes/modules/internal-hero.njk" %}
  
  <div class="container w-11/12 md:w-9/12 mx-auto pt-12 pb-6">
    <div class="">
      
        
        <div class="flex flex-col items-center px-6 py-4 text-center">
          
          <div class="pb-4">
            <h2 class="text-3xl font-bold mb-2">Success!</h2>
          </div>
          
          <div class="info pb-12">
            <p class="text-base">
                We've received your message and will be in touch shortly.
            </p>
          </div>
          
        </div>
        
    </div>
  </div>
  <div class="container w-11/12 md:w-9/12 mx-auto pt-6 pb-24">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-7">
      
      {% for footer in footers %}
      
        <div class="max-w-m overflow-hidden shadow-lg border-8 border-360darkteal bg-360lightteal">
          
          <div class="flex flex-row px-6 py-4 text-white text-center">
            
            <div class="image flex justify-center w-1/4">
              <img src="img/{{footer.icon}}" alt="{{ footer.title }}" class="w-16 h-16 rounded-full bg-black"/>
            </div>
            <div class="info w-3/4 text-left pl-4">
              <h2 class="text-2xl font-bold mb-2">{{ footer.title }}</h2>
              <p class="text-base">
                {{ footer.description }}
              </p>
            </div>
            
          </div>
          
        </div>
        
      {% endfor %}
    </div>
  </div>
  
{% endblock %}
