---
layout: default
title: 360Now Support - Learn how to use this leading technology.
meta_description: Looking for more information on how to use 360Now? Want to learn more about the benefits of this technology? We’re here to help you grow and succeed.
noindex: true
eleventyExcludeFromCollections: true {# makes sure it won't show up in sitemap.xml #}

---
{# Use the default block head and add the extras required for Salesforce forms #}
{% block head %}
  <head>
    {% include "_includes/base/head.njk" %}
    
    {# Required Salesforce and Google Recaptcha head items #}
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
     function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>
{% endblock %}

{% block content %}
  
  {% set hero_title = "360Now Support" %}
  {% include "_includes/modules/internal-hero.njk" %}
  
  <div class="container w-11/12 md:w-9/12 mx-auto pt-12 pb-6">
    <div class="">
      
        
        <div class="flex flex-col items-center px-6 py-4 text-center">
          
          <div class="pb-4">
            <h2 class="text-3xl font-bold mb-2">Need support?</h2>
          </div>
          
          <div class="info pb-12">
            <p class="text-base">
                We are here to serve you. Fill this form out and we will be in touch soon.
            </p>
          </div>

          <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

            <input type=hidden name='captcha_settings' value='{"keyname":"APIKey360Now","fallback":"true","orgId":"00D5w000006VdIF","ts":""}'>
            <input type=hidden name="orgid" value="00D5w000006VdIF">
            <input type=hidden name="retURL" value="https://360now.org/support/success/">
            <input type=hidden name="recordType" id="recordType" value="0125w000000myma">

            <!--  ----------------------------------------------------------------------  -->
            <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
            <!--  these lines if you wish to test in debug mode.                          -->
            <!--  <input type="hidden" name="debug" value=1>                              -->
            <!--  <input type="hidden" name="debugEmail"                                  -->
            <!--  value="techsfa@seniormarketadvisors.com">                               -->
            <!--  ----------------------------------------------------------------------  -->

            First Name:<input  id="00N5w00000MI3Um" maxlength="25" name="00N5w00000MI3Um" size="20" type="text" /><br>

            Last Name:<input  id="00N5w00000MI3Ur" maxlength="25" name="00N5w00000MI3Ur" size="20" type="text" /><br>

            <label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

            <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>

            <label for="subject">Subject</label><input  id="subject" maxlength="80" name="subject" size="20" type="text" /><br>

            <label for="description">Description</label><textarea name="description"></textarea><br>

            <div class="g-recaptcha" data-sitekey="6LckqsoZAAAAAHjr06I3qs2S6htDr2zZgYgPCDJj" data-callback="recaptchaCallback"></div><br>
            <input type="submit" name="submit" id="submitBtn" disabled>

          </form>

          {# ------------------ 
          
          <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" class="w-full max-w-lg">
            
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full">
                <input type=hidden name='captcha_settings' value='{"keyname":"APIKey360Now","fallback":"true","orgId":"00D4C0000000vIY","ts":""}'>
                <input type=hidden name="orgid" value="00D5w000006VdIF">
                <input type=hidden name="retURL" value="https://360now.org/support/success/">
                <input type=hidden name="recordType" id="recordType" value="0125w000000myma">

                <!--  ----------------------------------------------------------------------  -->
                <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                <!--  these lines if you wish to test in debug mode.                          -->
                <!--  <input type="hidden" name="debug" value=1>                              -->
                <!--  <input type="hidden" name="debugEmail"                                  -->
                <!--  value="dmbanya@seniormarketadvisors.com">                               -->
                <!--  ----------------------------------------------------------------------  -->
              </div>
            </div>
            
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="00N5w00000MI3Um" id="00N5w00000MI3Um_pcl">
                  First Name  
                </label>
                <input  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" aria-labelledby="00N5w00000MI3Um_pcl" id="00N5w00000MI3Um" maxlength="25" name="00N5w00000MI3Um" size="20" type="text" placeholder="First Name" required="required"/>
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="00N5w00000MI3Ur" id="00N5w00000MI3Ur_pcl">
                  Last Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" aria-labelledby="00N5w00000MI3Ur_pcl" id="00N5w00000MI3Ur" maxlength="25" name="00N5w00000MI3Ur" size="20" type="text" placeholder="Last Name" required="required"/>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email" id="email_pcl">
                  Email
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" aria-labelledby="email_pcl" id="email" maxlength="80" name="email" type="email" placeholder="Email Address" required="required"/>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="phone" id="phone_pcl">
                  Phone
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" aria-labelledby="phone_pcl" id="phone" maxlength="14" name="phone" size="20" type="tel" placeholder="(555) 555-5555" required="required" autocomplete="tel" />
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="subject" id="subject_pcl">
                  Subject
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" aria-labelledby="subject_pcl" id="subject" maxlength="80" name="subject" size="20" type="text" placeholder="Subject">
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description" id="description_pcl">
                  How can we help you?
                </label>
                <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48" aria-labelledby="description_pcl" id="description" name="description" placeholder="Let us know how we can help." required="required"></textarea>
              </div>
            </div>
            <div class="flex flex-wrap justify-center -mx-3 mb-6">
              <div class="g-recaptcha" data-sitekey="6LckqsoZAAAAAHjr06I3qs2S6htDr2zZgYgPCDJj"></div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <input type="submit" name="submit" class="cursor-pointer text-m px-6 py-2 leading-none border-2 rounded text-white bg-360lightteal border-360lightteal hover:border-360darkteal hover:text-white hover:bg-360lightteal">
              </div>
            </div>
          </form> #}
        </div>
        
    </div>
  </div>
  
{% endblock %}

<script>
  function recaptchaCallback() {
    $('#submitBtn').removeAttr('disabled');
  };
  // $('#phone')
  // 
  // .keydown(function (e) {
  //   var key = e.which || e.charCode || e.keyCode || 0;
  //   $phone = $(this);
  // 
  //   // Don't let them remove the starting '('
  //   if ($phone.val().length === 1 && (key === 8 || key === 46)) {
  //     $phone.val('('); 
  //     return false;
  //   } 
  //   // Reset if they highlight and type over first char.
  //   else if ($phone.val().charAt(0) !== '(') {
  //     $phone.val('('+String.fromCharCode(e.keyCode)+''); 
  //   }
  // 
  //   // Auto-format- do not expose the mask as the user begins to type
  //   if (key !== 8 && key !== 9) {
  //     if ($phone.val().length === 4) {
  //       $phone.val($phone.val() + ')');
  //     }
  //     if ($phone.val().length === 5) {
  //       $phone.val($phone.val() + ' ');
  //     }			
  //     if ($phone.val().length === 9) {
  //       $phone.val($phone.val() + '-');
  //     }
  //   }
  // 
  //   // Allow numeric (and tab, backspace, delete) keys only
  //   return (key == 8 || 
  //       key == 9 ||
  //       key == 46 ||
  //       (key >= 48 && key <= 57) ||
  //       (key >= 96 && key <= 105));	
  // })
  // 
  // .bind('focus click', function () {
  //   $phone = $(this);
  // 
  //   if ($phone.val().length === 0) {
  //     $phone.val('(');
  //   }
  //   else {
  //     var val = $phone.val();
  //     $phone.val('').val(val); // Ensure cursor remains at the end
  //   }
  // })
  // 
  // .blur(function () {
  //   $phone = $(this);
  // 
  //   if ($phone.val() === '(') {
  //     $phone.val('');
  //   }
  // });
</script>
