<header class="bg-white">
  <nav class="sticky top-0 flex items-center justify-between flex-wrap p-6 z-50">
    <div class="flex items-center flex-shrink-0 text-360darkteal mr-6">
      <a href="{{ site.url | url }}" class="">
        <span class="sr-only font-semibold text-xl tracking-tight">360Now</span>
        <img src="/img/logo.png" alt="360Now" class="w-40" />
      </a>
    </div>
    
    <div class="flex items-center justify-end lg:w-auto">
      <a href="{{ site.url | url }}/support/" class="text-m px-6 py-2 leading-none border-2 rounded text-360darkteal bg-clear border-360lightteal hover:border-360darkteal hover:text-white hover:bg-360lightteal">Support</a>
    </div>
  </nav>
</header>
  