<!DOCTYPE html>
<html lang="en">
  
  {% block head %}
    <head>
      {% include "_includes/base/head.njk" %}
    </head>
  {% endblock %}
  
  <body class="layout-{{ layout | slug }} page-{{ page.fileSlug }}">

    {# 
    DEV Note:
    This adds an overlay while site is under construction.
    Comment the next line out to remove it.
    #}
    {% include "_includes/modules/under-contruction-overlay.njk" %}


    {# 
    DEV Note:
    Uncomment the rest of these block below to enable original site after
    commenting out the overlay include above
    #}
    {# {% block header %}
      {% include "_includes/base/header.njk" %}
    {% endblock %}
    
    <main class="site-main w-full" role="main">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    
    {% block footer %}
      {% include "_includes/base/footer.njk" %}
    {% endblock %}
    
    {% block footer_scripts %}
      {% include "_includes/base/footer-scripts.njk" %}
    {% endblock %} #}
    
  </body>
</html>
